LISTEN_ADDR =  2050
ADMIN_URLS=

DB_HOST= 127.0.0.1
DB_USER= postgres
DB_PASSWORD= password
DB_NAME= gp_payment_orchestration
DB_PORT= 5432

MONGO_URI= 
MONGO_DB_NAME=

REDIS_URL= localhost:6379
REDIS_PASSWORD= 
REDIS_USERNAME= 

MESSAGE_BROKER_URL= amqp://L5sJpllqgI4Taxxw:ycVeIg7qQCroSYOeFpQgbSEcg1bHOIKu@102.23.120.239:5672/
EXCHANGE= gp_exchange
QUEUE_NAME=payment
RESET=false
SEED=false

